<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFindService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/FindService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFindService" contract="IFindService"
                name="BasicHttpBinding_IFindService" />
        </client>
    </system.serviceModel>
</configuration>